:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-light: hsl(180, 36%, 55%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
}

.container {
  max-width: 19.4375rem;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  margin: 4.5rem 2rem;
  display: grid;
}

.intro-div {
  background: var(--color-white);
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  padding: 1.75rem 1.5rem 2rem;
}

.center-div {
  background: var(--cyan);
  padding: 1.5rem;
}

.last-div {
  background: var(--cyan-light);
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  padding: 1.5rem;
}

.main-heading {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375;
  letter-spacing: -0.015625em;
  color: var(--cyan);
}

.sub-heading {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 133%;
  letter-spacing: -0.01171875em;
  color: var(--bright-yellow);
  margin-top: 1.5rem;
}

.description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 186%;
  letter-spacing: -0.0109375em;
  color: var(--grayish-blue);
  margin-top: 1rem;
}

.sub-duration {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125;
  letter-spacing: -0.0140625em;
  color: var(--color-white);
}

.amount-duration {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3125rem;
  letter-spacing: -0.025em;
  color: var(--color-white);
  margin-top: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}

span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: -0.0125em;
  color: var(--color-white);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.amount-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: -0.0125em;
  color: var(--color-white);
  margin-top: 0.25rem;
}

button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: -0.2px;
  color: var(--color-white);
  background: var(--bright-yellow);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 0.3125rem;
  border-style: none;
  padding: 0.875em 6.375em;
  margin-top: 1.625rem;
  cursor: pointer;
}

button:hover,
button:active {
  background: var(--cyan-light);
}

.why-us {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125;
  letter-spacing: -0.0140625em;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  letter-spacing: -0.0109375em;
  color: var(--color-white);
  mix-blend-mode: normal;
  opacity: 0.75;
}

li:first-of-type {
  margin-top: 1.125rem;
}

@media screen and (min-width: 26.875rem) {
  .main-heading {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.01875em;
  }

  .sub-heading {
    font-size: 1.125rem;
    line-height: 1.3125;
    letter-spacing: -0.0140625em;
  }

  .description {
    font-size: 1rem;
    line-height: 162%;
    letter-spacing: -0.0125em;
    margin-top: 0.6875rem;
  }
}

@media screen and (min-width: 46.875rem) {
  .container {
    max-width: 39.6875rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 2rem;
  }

  .intro-div {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    padding: 2.5rem;
  }

  .center-div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom-left-radius: 0.3125rem;
    padding: 2.5rem;
  }

  .last-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.3125rem;
    padding: 2.5rem;
  }

  button {
    padding: 0.875em 5.5625rem;
  }
}
